@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-Bold.ttf);
}
@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-BoldItalic.ttf);
}
@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-Italic.ttf);
}
@font-face {
  font-family: 'Source Sans 3';
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Source Sans 3';
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans 3';
  min-height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

* {
  box-sizing: border-box;
}
/*=========================================*/
header {
  margin: 0;
  padding: 0;
  border: 1px solid #000000;
    
}
.nav {
  background: #f8f6fc;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;

  margin: 0;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-weight: 400;
  text-decoration: none;
  color: rgb(204, 159, 100);

  transition: 0.3s;
}
.nav-link:hover {
  color: #ff0000;
}
/*=====================================================*/
main {
  margin: 0;
  border: 1px solid #000000;
  min-height: 500px;
  
  font-family: 'Ubuntu', sans-serif;
}
.main-title {
  margin-left: 3em;
  font-size: 2em;
  
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px dotted #ff0000;
  background: #f6fcfa;
}
.section {
  width: 50%;
  padding-left: 2em;
  /* margin-left: 3em; */
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}
@media (max-width: 768px) {
  .section {
    width: 100%;
  }
}
.section-title {
  padding: 0;
  margin: 1.5em 1em 0 0em;
  font-family: 'Source Sans 3';
  font-weight: 700;
  font-size: 1.4em;
  letter-spacing: 2px;
  text-decoration: underline;
  color: rgb(84, 27, 92);
}

.code {
  overflow: auto;
}
/*======================================================*/
footer {
  margin: 0;
  border: 1px solid #000000;
  min-height: 100px;
} 