@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-Bold.ttf);
}
@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-BoldItalic.ttf);
}
@font-face {
  font-family: 'Spectral';
  src: url(../assets/fonts/Spectral/Spectral-Italic.ttf);
}
@font-face {
  font-family: 'Source Sans 3';
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Source Sans 3';
  src: url(../assets/fonts/Source_Sans_3/SourceSans3-Italic-VariableFont_wght.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Spectral';
  min-height: 100vh;
  margin: 0px;
  padding: 0px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

* {
  box-sizing: border-box;
}

header {
  margin: 0;
  border: 1px solid #000000;
  min-height: 100px;
}

main {
  margin: 0;
  border: 1px solid #000000;
  min-height: 500px;
}

footer {
  margin: 0;
  border: 1px solid #000000;
  min-height: 100px;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  border: 1px dotted #ff0000;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  list-style: none;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
  font-weight: 700;
  text-decoration: none;
  color: rgb(253, 223, 184);
  }

